@{ 
    Layout = "_Layout";
}

<div class="row">
    <div class="col-lg-3">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Total Spent Today</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">$34.17</h1>
                <div class="stat-percent font-bold text-info">5%</div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Total Spent This Week</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">$122.62</h1>
                <div class="stat-percent font-bold text-info">13%</div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Total Spent This Month</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">$1014.48</h1>
                <div class="stat-percent font-bold text-info">61%</div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Income This Month</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">$2237.71</h1>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Pie</h5>
            </div>
            <div class="ibox-content">
                <div>
                    <iframe class="chartjs-hidden-iframe" style="width: 100%; display: block; border: 0px; height: 0px; margin: 0px; position: absolute; left: 0px; right: 0px; top: 0px; bottom: 0px;"></iframe>
                    <canvas id="doughnutChart" height="203" width="435" style="display: block; width: 435px; height: 203px;"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

