<div id="dashboardTransactions" class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>Last 10 Transactions</h5>
    </div>
    <div class="ibox-content" style="display: block;">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Name</th>
                        <th>Amount</th>
                        <th>Transaction Type</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="transaction in transactions">
                        <td>{{transaction.transactionDate}}</td>
                        <td>{{transaction.vendor}}</td>
                        <td>{{transaction.amount}}</td>
                        <td>{{transaction.transactionType}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

