@{ 
    Layout = "_Layout";
}

@model ExpenseTracker.Core.ViewModels.Dashboard.DashboardTotalsViewModel

<div id="dashboardIndex">
    {{message}}
    <div class="row">
        @Html.Partial("_DashboardTotals", Model)
    </div>
    <div class="row">
        @*<div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Pie</h5>
                </div>
                <div class="ibox-content">
                    <div>
                        <iframe class="chartjs-hidden-iframe" style="width: 100%; display: block; border: 0px; height: 0px; margin: 0px; position: absolute; left: 0px; right: 0px; top: 0px; bottom: 0px;"></iframe>
                        <canvas id="doughnutChart" height="203" width="435" style="display: block; width: 435px; height: 203px;"></canvas>
                    </div>
                </div>
            </div>
        </div>*@
        @Html.Partial("_DashboardPieChart")
    </div>
    <div class="row">
        <div class="col-lg-12">
            @Html.Partial("_DashboardTransactionTable")
        </div>
    </div>
</div>

<script src="~/js/app/dashboardIndex.js"></script>

